<h1>New User</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= form_for(@user) do |f| %>
	<div class="field">
		<p>Name</p>
		<%= f.text_field :name%>
	</div>

	<div class="field">
		<p>E-Mail</p>
		<%= f.text_field :email%>
	</div>

	<div class="field">
		<p>Enter a Password</p>
		<%= f.text_field :password%>
	</div>

	<div>
		<%=f.submit%>
	</div>

<% end %>